{%extends 'mainsite/base.html'%}

{%block title%}
    All ToDoList`s
{%endblock%}

{%block content%}
<form method="post", name="#">
    {% csrf_token %}
    <div class="list-group"> 
        {% for list in ls  %}
        <div class="d-flex w-100 justify-content-between">
            <a href="/{{list.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{list.name}}</h5>
                <small>amount items</small>
                </div>
            </a>
            <button type="submit", name="deleteList", value = "{{list.id}}", class="btn btn-success">Delete</button>
        </div>
            
        {% endfor %}
    </div>


</form>
{%endblock%}